{% extends '../layouts/base.html' %}

{% block contents %}

<form action="" method="get">
    <input type="search" name="query" value="{{ request.GET.query }}">
    <button type="submit">
        <font>検索</font>
    </button>
</form>

<table>
    <thead>
        <tr>
            <th>Nikki Title</th>
        </tr>
    </thead>
    {% for content in object_list %}
    <tbody>
        <tr>
            <td>{{ content.title }}</td>
            <td><a href="{% url 'app1:detail' content.pk %}">detail</a></td>
            <td><a href="{% url 'app1:delete' content.pk %}">delete</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock contents %}